---
import Layout from "../../layouts/Layout.astro";

interface Producto {
  id: number;
  name: string;
}

const producto: any[] = [];
---
<Layout>
    <div class="Producto">
        <h1>Producto</h1>
    </div>
</Layout>