---
import Layout from "../layouts/Layout.astro";

// const res = await fetch('http://localhost:8081/products?page=1&limit=20');
// const data = await res.json();

interface Product {
  name: string;
  description: string;
  price: number;
}

// data.products?.push({
//   name: 'Producto Quemado',
//   description: 'Este producto ha sido quemado por un error en el sistema',
//   price: 0,
// });

const products: Product[] = [
  {
    name: 'Producto Quemado',
    description: 'Este producto ha sido quemado por un error en el sistema',
    price: 10.5,
  },
];

const handleClick = (name: string) => {
  console.log(name);
  const url = new URL(location.href);
  url.pathname = `/productos/producto`;
  url.searchParams.set('name', name);
  location.href = url.toString();
};
---

<Layout title="Productos">
  <h1>Productos</h1>
  <p>Listado de productos</p>
  <button>Agregar producto a inventario</button>
  {products?.length ? (
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        {products?.map((product: Product) => (
          <tr onclick={`javascript:handleClick('${product.name}')`}>
            <td><strong>{product.name}</strong></td>
            <td>{product.description}</td>
            <td>${product.price}</td>
          </tr>
        ))}
      </tbody>
    </table>
  ) : (
    <p>No hay productos en el inventario</p>
  )}
</Layout>

<style>

  table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
  }

  .product-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
  }

  .product-card:hover {
    transform: translateY(-8px);
  }

  .product-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  .product-card p {
    color: #555;
  }

  .product-card .price {
    font-size: 1.4rem;
    color: #007bff;
    font-weight: bold;
  }
</style>

