---
---
<header>
    <a href="/productos">PRODUCTOS</a>
    <a href="/ventas">VENTAS</a>
</header>

<style> 

    header {
        display: flex;
        justify-content: center;
        gap: 5rem;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: white;
        text-decoration: none;
        transition: ease-in-out 0.2s;
    }

    a:hover {
        color: rgb(0, 208, 255)
    }

</style>