---

---

<div class="landing">
  <h1>Gestion de inventario y ventas</h1>
  <div class="paneles">
    <div class="panel" onclick="location.href='/productos'">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-list"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
        ></path><path
          d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
        ></path><path d="M9 12l.01 0"></path><path d="M13 12l2 0"></path><path
          d="M9 16l.01 0"></path><path d="M13 16l2 0"></path>
      </svg>
      <h2> Productos</h2>
    </div>
    <div class="panel" onclick="location.href='/ventas'">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-report-money"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
        ></path><path
          d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
        ></path><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
        ></path><path d="M12 17v1m0 -8v1"></path></svg
      >
      <h2>Ventas</h2>
    </div>
  </div>
</div>

<style>
  h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  .paneles {
    display: flex;
    justify-content: center;
  }

  .panel {
    display: flex;
    border: 1px solid rgb(0, 208, 255);
    width: 12.5rem;
    height: 5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.25s;
  }

  .panel:hover {
    transition: 0.25s;
    border: 1px solid rgb(120, 230, 255);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    background-color: rgb(28, 29, 34);
  }
</style>
